.grade-button {
    position: relative;
    top:-700px;
    left: 100px;
}

.download-button {
    position: relative;
    top: -638px;
    left: 250px;
}

.toggle {
    position: relative;
    top: -745px;
    left: 440px;
}

.assignment-table {
    position: relative;
    top: -700px;
    left: 120px;
    /*transform: translate(-50%, -50%);*/
    width: 75%;
}

.instructions {
    position: relative;
    top: -650px;
    left: 150px;
}

.test-cases {
    position: relative;
    top: -600px;
    left: 150px;
    /*transform: translate(-50%, -50%);*/
}

.input {
    position: relative;
    left: -250px;
}

.output {
    position: relative;
    left: -300px;
}

.points {
    position: relative;
}

.add-test {
    position: relative;
    top: -100px;
    left: 650px;
}

.assignment-tree {
    position: relative;
    top: -600px;
    left: 120px;
    /*transform: translate(-50%, -50%);*/
}

.assignment-name {
    position: relative;
    top: -650px;
    left: 100px;
}

.assignment-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.quiz-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}