.assignment-tree {
    position: relative;
    top: -500px;
    left: 120px;
    /*transform: translate(-50%, -50%);*/
}

.grade-button {
    position: relative;
    top:-700px;
    left: 100px;
}

.download-button {
    position: relative;
    top: -638px;
    left: 250px;
}

.toggle {
    position: relative;
    top: -745px;
    left: 440px;
}

.assignment-table {
    position: relative;
    top: -700px;
    left: 120px;
    /*transform: translate(-50%, -50%);*/
    width: 75%;
}

.instructions {
    position: relative;
    top: -700px;
    left: 150px;
}

.test-cases {
    position: relative;
    top: -550px;
    left: 150px;
    /*transform: translate(-50%, -50%);*/
}

.input {
    position: absolute;
    left: 90px;
}

.output {
    position: absolute;
    left: 360px;
}

.add-test {
    position: absolute;
    top: auto;
    left: 625px;
}

.assignment-name {
    position: relative;
    top: -650px;
    left: 100px;
}