.preview {
    /*background-color: grey;
    color: rgb(224,6,31);
    width: 70px;
    height: 70px; */
    position: absolute;
    top: 190px;
    right: 80px;
}

.modal-container {
    position: relative;
    /*top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/

    width: 700px !important;
    height: 500px !important;

    border-style: solid !important;
    border-color: #8B969E !important;
    border: 2px;

    display: inline-block;
}

.quizzes-tree {
    position: relative;
    top: 50px;
    left: 100px;
    /*padding-top: -10rem;*/
    overflow: hidden;
    /*transform: translate(-50%, -50%);*/
}

.free-response {
    position: relative;
    top: 75px;
    left: 100px;
    overflow: hidden;
}

.download-button-pdf {
    position: relative;
    overflow: hidden;
    top: 100px;
    left: 100px;
}

