
.quizzes-tree {
    position: relative;
    top: 50px;
    left: 100px;
    /*padding-top: -10rem;*/
    overflow: hidden;
    /*transform: translate(-50%, -50%);*/
}

.free-response {
    position: relative;
    top: 75px;
    left: 100px;
    /*overflow: hidden;*/
}

.download-button-pdf {
    position: relative;
    overflow: hidden;
    top: 100px;
    left: 100px;
}

.alert {
    position: relative;
    top: 30px;
    /*left: 100px; */
    right: 50px;
}

