.welcome {
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
  
.login-api {
  position: fixed;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
}
  
.login-url {
  position: fixed;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
}
  
.submit {
  position: fixed;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
}
 