.FrondEnd {
    background-color: ghostwhite;
    /*min-height: 100vh;*/

    /*flex-direction: column;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*font-size: calc(10px + 2vmin);*/
    color: black;
}
.header{
    background-color: whitesmoke;
}
.quiz{
    color: blue;
    margin: 10;
    padding: 10;
    flexGrow: 1;
    text-align: right;
    justify-content: right;
    flex-direction: column;
    width: 200px;


}