.quiz-pdf {
    position: fixed;
    top: 40%;
    left: 45%;
    transform: translate(-50%, -50%) scale(2.5);
  }
    
  .code-grader {
    position: fixed;
    top: 40%;
    left: 65%;
    transform: translate(-50%, -50%)  scale(2.5);
  }


/*.content{*/
/*    width: 75%;*/
/*}*/
/*.sidebar{*/
/*    width: 25%;*/
/*    display: flex;*/
/*}*/
/*.container{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    //height: 100vh;*/
/*}*/
/*.render-icon{*/
/*    size: 50px;*/
/*}*/

/*.custom-button {*/
/*    padding: 16px 32px; !* Adjust padding as needed *!*/
/*    width: auto; !* Adjust width as needed *!*/
/*}*/


