/* Maybe set text font and size here*/

/*css styling for the preview button... may remove*/ 
/*.preview {
  
  position: absolute;
  top: 190px;
  right: 80px;
}

.modal-container {
  position: relative;
 

  width: 700px !important;
  height: 500px !important; 

  border-style: solid !important;
  border-color: #8B969E !important; 
  border: 2px;
  
  display: inline-block;
}
*/